<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Voice Assistant</title>
</head>

<body>
    <section id="entirety">
    <h1>Voice Assistant</h1>
    <p>Currently Only Available for Chrome users<p>
    <button id="recordBtn" onclick="toggleRecording()">Record</button>
    <div class="container">
        <p id="status"></p>
        <div class="texts">
            <p id="output"></p>
            <p id="result"></p>
        </div>
    </div>
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
